*{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.content{
   /*background: pink; */
  width: 50%;
  margin: 10% auto;
}

.content > a {
  font-size: 1.2em;
}


table{
  width: 100%;
  margin: 10px 0;
}
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
td,th {
    border: 1px solid #ddd;
    padding: 10px;
}
tr:nth-child(even){background-color: #f2f2f2;}
tr:hover {background-color: #ddd;}
